.button{
    padding: 20px;
    margin-left: 3px;
    margin-right:0 ;
    border: 2px solid black;
    border-radius: 9px;
    background-color: rgb(0, 255, 200);
    cursor: pointer;
}
.row{
    margin-top: 8px;
    margin-bottom: 8px;
}
.row input{
    width: 100 px;
    height: 20px;
    padding: 6px 38px;
    border: 2px solid brown;
    border-radius: 5px;
    font-size: 14px;
}